.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  a,
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: #eee;
    height: 40px;
    width: 40px;
    border-radius: .2rem;
    border: 1px solid transparent;

    transition: .2s;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: none;
      background: white;
      box-shadow: 0 0 0 3px #eee;
      border-color: #333;
    }
  }

  a:global(.active) {
    background: white;
    box-shadow: 0 0 0 3px #fea;
    border-color: #fb1;
  
    svg > * {
      fill: #fb1;
    }
  }
}

